.baked{
    margin-top: 7%;
    background-image: url("../../images/back2.jpg");
    background-size: cover;


    min-height: 50vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-width: 40%;
}
#button {
    margin-left: 20%;
    padding:7px;
    width: 150px;
    font-weight: 500;
    background-color: #a82d49;
    color: aliceblue;
height: fit-content;
margin-top: 10%;

}

#button:hover {
    color: #a82d49;
    border: 3px solid #a82d49;
    background: local;
}
.baked h1{
    color: rgb(53, 58, 8);
    text-align: center;
    margin-left: 4%;
    margin-top: 10%;
}