.foodstyle{
    margin-top: 10%;
   
}
.foodstyle img{
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.foodstyle p,h4{
color: black !important;
}
.row1 h2 {
    color: rgb(62, 4, 2);
 margin-bottom: 25px;

}
.row1 p{
    color: black;
 text-align: center;
}
.price{
margin-left: 30%;
font-size: larger;
font-weight: 900;

}
#oldprice{
 margin-left: 30px !important;
text-decoration: line-through;
font-weight: bold;
color: rgb(173, 177, 177) !important;
}
.colF1{
    box-shadow: 0 4px 2px -2px gray;

}
.colF2{
    box-shadow: 0 4px 2px -2px gray;
}
.colF3{
    box-shadow: 0 4px 2px -2px gray;
}
.food5{
    width:3400px !important;
margin-top: -20px !important;
}
#bu1{
    margin-right: 30px;
    padding: 4px;
    width: 150px;
    font-weight: 500;
    background-color: #a82d49;
    color: aliceblue;

}

#bu1:hover {
    color: #a82d49;
    border: 3px solid #a82d49;
    background: local;
}
#discription{
    text-align: center;
}