#basic-navbar-nav{
    margin-left: 30%;
}
.mainstyle{
   background-color: #ffffff;
   width: 100%;
   height: auto;
   max-width: 100%;
   border-radius: 0px;
 position: fixed !important;
 right: 0 !important ;
 left: 0 !important;
 top: 0 !important;
 z-index: 3000px !important;
}
#basic-navbar-nav a{
    color: #a82d49;
    font-size: 15px;
   text-transform: uppercase;
  font-weight:600;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.number{
    border: 3px solid #a82d49 ;
background-color:#a82d49  ;
    margin-left: 15px;
    padding-right: 30px;
  
}
#numberphon{
    color: #ffffff !important;
    margin-left:13px;
}
#numberphon:hover{
color:#a82d49!important ;
}
.number:hover{
  background-color: #ffffff;
  
}
.logo{
    width: 130px;
    height: 70px;
}